<!--{template common/header}-->
<!--[name]V604_新闻资讯首页[/name]-->
<!--<style id="diy_style" type="text/css"></style>-->
<link type="text/css" rel="stylesheet" href="$_G['style']['v604t_common']css/chongfu.css" />
<link type="text/css" rel="stylesheet" href="$_G['style']['v604t_common']css/news.css" />
<link type="text/css" rel="stylesheet" href="$_G['style']['v604t_common']css/news_index.css" />
<style type="text/css">
.news_right_text li{
width: 280px;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;

}
</style>
<!--{if $cat[subs]}-->
<ul class="wrapper news_nav clearfix">
    <!--{eval $i = 1;}-->
    <!--{loop $cat[subs] $value}-->
    <li ><a href="{$portalcategory[$value['catid']]['caturl']}">$value[catname]</a></li>
    <!--{eval $i--;}-->
    <!--{/loop}-->
</ul>
<!--{/if}-->
<div style="border-top: 1px solid #efe6e0;width:100%;margin-top:10px"><div>
        <section class="wrapper" style="margin-top:20px">
            <div class="box1 mt10 oh clearfix">
                <!-- 今日焦点 -->
                <div class="newFocusList v604_fl">
                    <!-- 焦点图切换 -->
                    <!--{block/425}-->
                    <!-- 焦点图切换 over -->
                    <!--{block/426}-->
                    <!-- 焦点图切换 over -->
                    <!--{block/427}-->
                    <!-- 相关服务 -->
                    <!-- 相关服务 over -->
                    <!-- 查看所有链接 -->
                    <!-- 查看所有链接 over -->
                </div>
                <!-- 今日焦点 over -->
                
                <!-- 新闻资讯 -->
                <div class="newZxList v604_fl ml20"style="margin-left:30px;width:360px">
                    <!--[diy=v604d_news_index_01]--><div id="v604d_news_index_01" class="area"></div><!--[/diy]-->
                </div>
                <!-- 新闻资讯 over -->

                <!-- 右侧广告 -->
                <div class="right" >
                    <h3>新闻专题</h3>
                    <ul class="news_right_text"style='margin-top:-10px'>
                        <li><a href="#">赌徒谬论：科学家揭秘赌运的真相</a></li>
                        <li><a href="#">赌徒谬论：科学家揭秘赌运的真相</a></li>
                        <li><a href="#">赌徒谬论：科学家揭秘赌运的真相</a></li>
                        <li><a href="#">赌徒谬论：科学家揭秘赌运的真相</a></li>
                        <li><a href="#">赌徒谬论：科学家揭秘赌运的真相</a></li><li><a href="#">赌徒谬论：科学家揭秘赌运的真相</a></li>
                        <li><a href="#">赌徒谬论：科学家揭秘赌运的真相</a></li>
                        <li><a href="#">赌徒谬论：科学家揭秘赌运的真相</a></li>  
                        <li><a href="#">赌徒谬论：科学家揭秘赌运的真相</a></li>
                        <li><a href="#">赌徒谬论：科学家揭秘赌运的真相</a></li>  				
                    </ul>

                    <h3 style='margin-top:20px'>热点新闻</h3>
                        <!--[diy=v604d_news_index_03]--><div id="v604d_news_index_03" class="area"></div><!--[/diy]-->
                </div>
            </div>
            <!--横栏广告-->
            <div class="mt10 clearfix"><a href="" title="链接描述哦"><img src="$_G['style']['v604t_common']img/yzl/g5.jpg" alt="描述哦" width="1000" height="70"></a></div>
            <div class="chongfu clearfix">
                <h2 class="jiaguo" style=" border-left:5px solid #fc6328; margin-bottom:5px; margin-top:10px; font-size:18px; text-indent:10px;">加国要闻<a href="#" style="font-size:14px; float:right; color:#fc6328;">查看更多</a></h2>
                <div class="chongfu1 clearfix">
                    <!-- 热门文章双图 -->
                    <!--{block/433}-->
                    <div class="clearfix"></div>
                    <h2 style="color:#fc6328; font-size:14px; font-weight:bold; margin:10px 0;">最新推荐</h2>
                    <!--{block/434}-->
                    <h2 style="color:#fc6328; font-size:14px; font-weight:bold; margin-top:10px ;margin-bottom:15px">热门点击</h2>
                    <!--{block/439}-->
                </div>
                <div class="chongfu2">
                    <!--{block/444}-->
                </div>
                <div class="chongfu3">
                    <div class="right">
                        <h3 style="line-height:20px">月度热点</h3>                        
                        <!--{block/449}-->
                    </div>
                </div>
            </div>
            <div class="mt10 clearfix"><a href="" title="链接描述哦"><img src="$_G['style']['v604t_common']img/yzl/g5.jpg" alt="描述哦" width="1000" height="70"></a></div>
            <div class="chongfu clearfix">
                <h2 class="jiaguo" style=" border-left:5px solid #fc6328; margin-bottom:5px; margin-top:10px; font-size:18px; text-indent:10px;">娱乐八卦<a href="#" style="font-size:14px; float:right; color:#fc6328;">查看更多</a></h2>
                <div class="chongfu1 clearfix">
                    <!--<h2 class="jiaguo" style=" border-left:5px solid #fc6328; margin-bottom:10px; margin-top:10px; font-size:18px; text-indent:10px;">加国地产</h2>-->
                    <!--{block/428}-->
                    <!--<div style="position:relative; float:left; margin:0 5px;"><img src="$_G['style']['v604t_common']img/chongfu.jpg" /><p style="position:absolute; bottom:0; width:100%; background:rgba(0,0,0,.5); color:#fff; text-align:center;">内容</p></div>
                    <div style="position:relative; float:left; margin:0 5px;"><img src="$_G['style']['v604t_common']img/chongfu.jpg" /><p style="position:absolute; bottom:0; width:100%; background:rgba(0,0,0,.5); color:#fff; text-align:center;">内容</p></div>-->
                    <div class="clearfix"></div>
                    <h2 style="color:#fc6328; font-size:14px; font-weight:bold; margin:10px 0;">最新推荐</h2>
                    <!--{block/435}-->
                    <h2 style="color:#fc6328; font-size:14px; font-weight:bold; margin-top:10px ;margin-bottom:15px">热门点击</h2>
                    <!--{block/440}-->
                </div>
                <div class="chongfu2">
                    <!--{block/445}-->
                </div>
                <div class="chongfu3">
                    <div class="right">
                        <h3 style="line-height:20px">月度热点</h3>
                        <!--{block/450}-->
                    </div>
                </div>
            </div>
            <div class="mt10 clearfix"><a href="" title="链接描述哦"><img src="$_G['style']['v604t_common']img/yzl/g5.jpg" alt="描述哦" width="1000" height="70"></a></div>
            <div class="chongfu clearfix">
                <h2 class="jiaguo" style=" border-left:5px solid #fc6328; margin-bottom:5px; margin-top:10px; font-size:18px; text-indent:10px;">两岸三地<a href="#" style="font-size:14px; float:right; color:#fc6328;">查看更多</a></h2>
                <div class="chongfu1 clearfix">
                    <!--<h2 class="jiaguo" style=" border-left:5px solid #fc6328; margin-bottom:10px; margin-top:10px; font-size:18px; text-indent:10px;">加国地产</h2>-->
                    <!--{block/429}-->
                    <div class="clearfix"></div>
                    <h2 style="color:#fc6328; font-size:14px; font-weight:bold; margin:10px 0;">最新推荐</h2>
                    <!--{block/436}-->
                    <h2 style="color:#fc6328; font-size:14px; font-weight:bold; margin-top:10px ;margin-bottom:15px">热门点击</h2>
                    <!--{block/441}-->
                </div>
                <div class="chongfu2">
                    <!--{block/446}-->
                </div>
                <div class="chongfu3">
                    <div class="right">
                        <h3>月度热点</h3>
                        <!--{block/451}-->
                    </div>
                </div>
            </div>
            <div class="mt10 clearfix"><a href="" title="链接描述哦"><img src="$_G['style']['v604t_common']img/yzl/g5.jpg" alt="描述哦" width="1000" height="70"></a></div>
            <div class="chongfu clearfix">
                <h2 class="jiaguo" style=" border-left:5px solid #fc6328; margin-bottom:5px; margin-top:10px; font-size:18px; text-indent:10px;">环球万象<a href="#" style="font-size:14px; float:right; color:#fc6328;">查看更多</a></h2>
                <div class="chongfu1 clearfix">
                    <!--{block/430}-->
                    <div class="clearfix"></div>
                    <h2 style="color:#fc6328; font-size:14px; font-weight:bold; margin:10px 0;">最新推荐</h2>
                    <!--{block/437}-->
                    <h2 style="color:#fc6328; font-size:14px; font-weight:bold; margin-top:10px ;margin-bottom:15px">热门点击</h2>
                    <!--{block/442}-->
                </div>
                <div class="chongfu2">
                    <!--{block/447}-->
                </div>
                <div class="chongfu3">
                    <div class="right">
                        <h3>月度热点</h3>
                        <!--{block/452}-->
                    </div>
                </div>
            </div>
            <div class="mt10 clearfix"><a href="" title="链接描述哦"><img src="$_G['style']['v604t_common']img/yzl/g5.jpg" alt="描述哦" width="1000" height="70"></a></div>
            <div class="chongfu clearfix">
                <h2 class="jiaguo" style=" border-left:5px solid #fc6328; margin-bottom:5px; margin-top:10px; font-size:18px; text-indent:10px;">大温新闻<a href="#" style="font-size:14px; float:right; color:#fc6328;">查看更多</a></h2>
                <div class="chongfu1 clearfix">
                    <!--<h2 class="jiaguo" style=" border-left:5px solid #fc6328; margin-bottom:10px; margin-top:10px; font-size:18px; text-indent:10px;">加国地产</h2>-->
                    <!--{block/431}-->
                    <div class="clearfix"></div>
                    <h2 style="color:#fc6328; font-size:14px; font-weight:bold; margin:10px 0;">最新推荐</h2>
                    <!--{block/438}-->
                    <h2 style="color:#fc6328; font-size:14px; font-weight:bold; margin-top:10px ;margin-bottom:15px">热门点击</h2>
                    <!--{block/443}-->
                </div>
                <div class="chongfu2">
                    <!--{block/448}-->
                </div>
                <div class="chongfu3">
                    <div class="right">
                        <h3>月度热点</h3>
                        <!--{block/453}-->
                    </div>
                </div>
            </div>
        </section>
        <!--{template common/footer}-->