select{
border:1px solid #fc6328;height:30px;border-left:0px ;border-right:1px solid #b4b4b4;
margin-left:-2px;float:right;margin-top:5px
}

.menu td{
border:1px solid #efe6e0 ;
padding:0px !important;
height:38px
}
.menu td:hover {
}
.menu td a{
margin-left:0px;
line-height:40px
}
p a{
color:#797979
}
.xinxi strong {
font-size: 14px !important;
}
.xinxi p{
line-height:18px
}

article section.left .list li>span {
line-height: 100px;
display: inline-block;
}
.list li>em {
line-height: 100px !important;
display: inline-block;
}
.tuijian li {
padding: 0 10px 10px 10px !important;
}
.tuijian li:first-child{
margin-top:10px
}
article {
padding: 0px 0;
}
article aside.right .tuijian li {
border-top: 1px solid #efe6e0;
padding-top:5px !important;
padding-bottom:5px !important;
}
article aside.right .tuijian p {
line-height:18px
}
.bg_sprite{background-image:url('../img/icon_mi.png'); background-repeat:no-repeat;float:left;width:22px;height:22px;margin-left:10px;margin-top:8px}
.bg_sprite:hover{

}
.ico1{background-position: -7px -9px;}
.ico2{background-position: -105px -9px;}
.ico3{background-position: -206px -9px;}
.ico4{background-position: -305px -9px;}
.ico5{background-position: -406px -9px;}
.ico6{background-position: -505px -9px;}
.ico7{background-position: -606px -9px;}
.ico8{background-position: -705px -9px;}
.ico9{background-position: -806px -9px;}
.ico10{background-position: -905px -9px;}


.ico11{background-position: -7px -48px;}
.ico12{background-position: -105px -48px;}
.ico13{background-position: -206px -48px;}
.ico14{background-position: -305px -48px;}
.ico15{background-position: -406px -48px;}
.ico16{background-position: -505px -48px;}
.ico17{background-position: -606px -48px;}
.ico18{background-position: -705px -48px;}
.ico19{background-position: -806px -48px;}
.ico20{background-position: -905px -48px;}

.ico21{background-position: -7px -90px;}
.ico22{background-position: -105px -90px;}
.ico23{background-position: -206px -90px;}
.ico24{background-position: -305px -90px;}
.ico25{background-position: -406px -90px;}
.ico26{background-position: -505px -90px;}
.ico27{background-position: -606px -90px;}
.ico28{background-position: -705px -90px;}
.ico29{background-position: -806px -90px;}
.ico30{background-position: -905px -90px;}
