<!--{subtemplate common/header_s}-->

<style>
    .left {
        float: left;
        width: 500px !important;
    }
    .con p{
        font-family:'宋体';font-size:14px;
        line-height:30px
    }
</style>

<div class="crumb" style="border:1px solid #efe6e0">
    <div class="wrapper">
        您的位置：<a href="#">大温同城</a><span>></span><a href="#">新闻资讯</a><span>></span><a href="#">加国要闻</a><span>></span><a href="#">正文</a></div>
</div>
<div class="wrapper clearfix">
    <section class="news_page" >
        <div class="left" style="width:640px !important">
            <h1 style="font-size:24px; color:#262626;">当房价涨到年薪的10倍时 加拿大人该如何买房</h1>
            <p style="color:#777777; margin:10px 0 25px;">2014-05-19 20:48 来源: 综合新闻 作者: 家园小编</p>
            <div class="con" style="color:#262626;font-size:14px">
                <p style="font-family:'宋体';font-size:14px">在加拿大卡尔加里南部的Altadore，一栋栋住房坐落于Elbow河畔郁郁葱葱的松树公园附近。这里的平均
                    房价已经超过360,000元，远远高于八年前的水平。
                </p>
                <p style="font-family:'宋体';font-size:14px">在加拿大卡尔加里南部的Altadore，一栋栋住房坐落于Elbow河畔郁郁葱葱的松树公园附近。这里的平均 房价已经超过360,据《环球邮报》报导，从2005年到去年年底，随着一座座老平房被推平，全新的两层小楼和高端公寓拔地 而起。大批在外卡尔加里市中心
                    “我认为住在这里的任何人都对房价上涨速度感到惊讶” ，2008年入住这里的，34岁的Thomas Ferianec 说。</p><p style="font-family:'宋体';font-size:14px">便宜的住房贷款刺激了前所未有的借贷热潮推动加拿大的房价达到“岌岌可危”高度。的确，加拿大的房屋从来没有这么值钱过。房贷债务水平也从 未这么高过，近70%的购房款来自
                    在过去的几年中，收入和房价之间的鸿沟扩大了。</p><p style="font-family:'宋体';font-size:14px">现在加拿大人借贷总额与收入之比已经相当于2008年美 国房地产泡沫破裂之前的水平。“加拿大将发生像美国那样的次贷危机，这是一种错误的想法”加拿大房地产协会负责经济学家 Gregory  Klump这样告诉金融
                    “美国的信贷质量远低于加拿大，”Klump说。</p>
                <p style="font-family:'宋体';font-size:14px"> “在过去的四年中，收紧房贷规定已经成功地防止了房地 产泡沫的破裂。”如果Klump的观点是正确的，那么，加拿大已经实现了过热房地产市场的软着陆。让我们看看真实的情况：
                    债务深化房屋销售的步伐，今年并没有实质的减速。除了10月，市场已经重新热络起来——在温哥华、多伦多、卡 尔加里和埃德蒙顿房屋销售增长强当房价是年薪的10倍时有多种指标来确定房价与业主的收入关系，总部位于多伦多的Capital Economics的首席经济学家大卫· 迈达尼说：“房价
                    “从历史上看，房子的价格一直维持在收入的三，四倍的样子，”达尼说：“在温哥华，房价已经是家庭 平均年收入10倍。</p>
                <p style="font-family:'宋体';font-size:14px">在西方，这是一在多伦多——本国第二昂贵的房产市场，房屋平均价格大约家庭为平均年收入的五倍多。屋主的承受力
                    只要利率维持在历史性低点，加拿大人仍然能够享受低息贷款并且不会失去自己的房子。虽然超低利率还将维持一段时间，但是如Capital Economics等的预测表明：如果利率突然升高，房屋价 格将回调25%。随着整体经济的增长，有些预期认为从明年开始到2015年利率将上升2.0%。这种加息可能使加拿大房市 彻底降温。更糟的是，如果业
                    惠誉国际评级机构 (Fitch Ratings) 表示, 加拿大房地产市场的价格上升将很快停止，该机构预测加拿 大各地房地产将根据惠誉国际评级，当房地产“软着陆”的情况发生时，加拿大经济将面临一些风险，因为许多房主的 买房贷款处于自己财务状况的极限水平高盛研究报告认为，加拿大正面临房价大跌问题，因为加拿大部份地区的房市，已出现建案过多的现象， 而且超低利率正伤害其不动产市场。
                </p>
                <p style="font-family:'宋体';font-size:14px">在西方，这是一在多伦多——本国第二昂贵的房产市场，房屋平均价格大约家庭为平均年收入的五倍多。屋主的承受力
                    只要利率维持在历史性低点，加拿大人仍然能够享受低息贷款并且不会失去自己的房子。虽然超低利率还将维持一段时间，但是如Capital Economics等的预测表明：如果利率突然升高，房屋价 格将回调25%。随着整体经济的增长，有些预期认为从明年开始到2015年利率将上升2.0%。这种加息可能使加拿大房市 彻底降温。更糟的是，如果业
                    惠誉国际评级机构 (Fitch Ratings) 表示, 加拿大房地产市场的价格上升将很快停止，该机构预测加拿 大各地房地产将根据惠誉国际评级，当房地产“软着陆”的情况发生时，加拿大经济将面临一些风险，因为许多房主的 买房贷款处于自己财务状况的极限水平高盛研究报告认为，加拿大正面临房价大跌问题，因为加拿大部份地区的房市，已出现建案过多的现象， 而且超低利率正伤害其不动产市场。
                </p>
            </div>
            <div style='border-top: 1px solid #efe6e0;margin-top:30px ;color:#9c9c9c;padding-top:20px'>
                声明：大温同城新闻资讯内容来自于各大新闻媒体，部分内容由大温同城网读者、本地华人社团提供；刊载此文仅为提供更多信息，不代表同意其说法或描述，也不构成投资或其他建议如发现稿件侵权；或作者不愿在大温同城网发表文章，请版权拥有者通知大温同城网处理。
            </div>
        </div>
        <div class="right" style="width:320px">
            <h3>热点新闻</h3>
            <ul class="news_right clearfix" style="margin-left:0px"><li>
                    <img width="80" height="80" />
                    <div>
                        <a href="#"><strong>配有新型智能系统的搜救狗2.0</strong></a>
                        <a href="#"><p>科学家表示，穿上高科技装备的狗狗就相当于可移动的传感器，它们可以对灾区受害者进行快速定位...[ 详细 ]</p></a>
                    </div></li>
                <li>
                    <img width="80" height="80" />
                    <div>
                        <a href="#"><strong>配有新型智能系统的搜救狗2.0</strong></a>
                        <a href="#"><p>科学家表示，穿上高科技装备的狗狗就相当于可移动的传感器，它们可以对灾区受害者进行快速定位...[ 详细 ]</p></a>
                    </div></li><li>
                    <img width="80" height="80" />
                    <div>
                        <a href="#"><strong>配有新型智能系统的搜救狗2.0</strong></a>
                        <a href="#"><p>科学家表示，穿上高科技装备的狗狗就相当于可移动的传感器，它们可以对灾区受害者进行快速定位...[ 详细 ]</p></a>
                    </div></li><li>
                    <img width="80" height="80" />
                    <div>
                        <a href="#"><strong>配有新型智能系统的搜救狗2.0</strong></a>
                        <a href="#"><p>科学家表示，穿上高科技装备的狗狗就相当于可移动的传感器，它们可以对灾区受害者进行快速定位...[ 详细 ]</p></a>
                    </div></li><li>
                    <img width="80" height="80" />
                    <div>
                        <a href="#"><strong>配有新型智能系统的搜救狗2.0</strong></a>
                        <a href="#"><p>科学家表示，穿上高科技装备的狗狗就相当于可移动的传感器，它们可以对灾区受害者进行快速定位...[ 详细 ]</p></a>
                    </div></li><li>
                    <img width="80" height="80" />
                    <div>
                        <a href="#"><strong>配有新型智能系统的搜救狗2.0</strong></a>
                        <a href="#"><p>科学家表示，穿上高科技装备的狗狗就相当于可移动的传感器，它们可以对灾区受害者进行快速定位...[ 详细 ]</p></a>
                    </div></li><li>
                    <img width="80" height="80" />
                    <div>
                        <a href="#"><strong>配有新型智能系统的搜救狗2.0</strong></a>
                        <a href="#"><p>科学家表示，穿上高科技装备的狗狗就相当于可移动的传感器，它们可以对灾区受害者进行快速定位...[ 详细 ]</p></a>
                    </div></li><li>
                    <img width="80" height="80" />
                    <div>
                        <a href="#"><strong>配有新型智能系统的搜救狗2.0</strong></a>
                        <a href="#"><p>科学家表示，穿上高科技装备的狗狗就相当于可移动的传感器，它们可以对灾区受害者进行快速定位...[ 详细 ]</p></a>
                    </div></li><li>
                    <img width="80" height="80" />
                    <div>
                        <a href="#"><strong>配有新型智能系统的搜救狗2.0</strong></a>
                        <a href="#"><p>科学家表示，穿上高科技装备的狗狗就相当于可移动的传感器，它们可以对灾区受害者进行快速定位...[ 详细 ]</p></a>
                    </div></li>
            </ul>
            <h3 style='margin-top:20px'>最新推荐</h3>
            <ul class="news_right_text" style="margin-left:0px">
                <li><a href="#">赌徒谬论：科学家揭秘赌运的真相</a></li>
                <li><a href="#">赌徒谬论：科学家揭秘赌运的真相</a></li>
                <li><a href="#">赌徒谬论：科学家揭秘赌运的真相</a></li>
                <li><a href="#">赌徒谬论：科学家揭秘赌运的真相</a></li>
                <li><a href="#">赌徒谬论：科学家揭秘赌运的真相</a></li><li><a href="#">赌徒谬论：科学家揭秘赌运的真相</a></li>
                <li><a href="#">赌徒谬论：科学家揭秘赌运的真相</a></li>
                <li><a href="#">赌徒谬论：科学家揭秘赌运的真相</a></li>               
            </ul>
        </div>

    </section>

</div>
<!--{template common/footer}-->